{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block content %}
    <div class="container content">
        <form class="form-search" action="{% url search %}" method="GET">
            {% csrf_token %}
            <div class="input-append">
                {{form_search}}
                <button type="submit" class="btn">Search</button>
            </div>
        </form>

        <ul class="unstyled">
            {% for page in pages %}
            <li><a href="{{page.url}}">{{page.url}}</a></li>
            <li>{{page.title}}</li>
            <li><p>{{page.text}}</p></li>
            {% endfor %}
        </ul>
    </div>
{% endblock%}