{% extends 'base.html' %}
{% load picktags %}

{% block title %} Search {% endblock %}

{% block content %}
    <div class="container content">
        <form class="form-search" action="{% url search %}" method="GET">
            {% csrf_token %}
            <div class="input-prepend input-append">
                <select name="site">
                {% for url in urls %}
                    <option value="{{url.id}}">{{url.url}}</option>
                {% endfor %}
                </select>
                <input type="text" placeholder="Enter word" name="text" maxlength="50">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        {% for page in pages %}
        <ul class="unstyled">
            <li><a href="{{page.url}}">{{page.url}}</a></li>
            <li>{{page.title}}</li>
            <li>{% parttext page search_word %}</li>
        </ul>
        {% empty %}
        <ul class="unstyled">
            <li>{{match}}</li>
        </ul>
        {% endfor %}
    </div>
{% endblock%}
